---
# Source: prometheus-operator/templates/prometheus/serviceaccount.yaml

apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-prometheus-oper-prometheus
  #Modified from upstream chart explicitly adding namespace
  namespace: design2
  labels:
    app: prometheus-operator-prometheus
    
    chart: prometheus-operator-4.3.2
    release: "prometheus"
    heritage: "Tiller"
    clusterName: ismail.oteemo-xc.com
    
imagePullSecrets:
  []
  
